<div class="center-div">

  <div class="card card-signup">
    <div class="card-body">


      <!--Register form-->
      <form class="form" novalidate (ngSubmit)="onSubmit(user)" [formGroup]="user">

        <p class="h5 text-center mb-4">Sign up</p>

        <div class="md-form" formGroupName="name">

          <div>
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="orangeForm-firstName" class="form-control" formControlName="firstName" mdbActive>
            <label for="orangeForm-firstName">first name</label>
          </div>
          <div class="md-form">
            <i class="fa fa-user prefix grey-text"></i>
            <input type="text" id="orangeForm-lastName" class="form-control" formControlName="lastName" mdbActive>
            <label for="orangeForm-lastName">last name</label>
          </div>

        </div>

        <div class="md-form">
          <i class="fa fa-envelope prefix grey-text"></i>
          <input type="text" id="orangeForm-email" class="form-control" formControlName="email" mdbActive>
          <label for="orangeForm-email">Your email</label>
        </div>

        <div class="md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" id="orangeForm-pass" class="form-control" formControlName="password" mdbActive>
          <label for="orangeForm-pass">Your password</label>
        </div>

        <div class="md-form">
          <i class="fa fa-lock prefix grey-text"></i>
          <input type="password" id="orangeForm-passConfirm" class="form-control" formControlName="confirmPassword"
                 mdbActive>
          <label for="orangeForm-passConfirm">Confirm your password</label>
        </div>


        <div class="md-form">
          <i class="fa fa-intersex prefix grey-text"></i>

          <div class="form-check form-check-radio form-check-inline">
            <label class="form-check-label">

              <input class="form-check-input" type="radio" id="inlineRadio1" value="male" formControlName="gender"> Male

              <span class="circle"><span class="check"></span></span>
            </label>
          </div>

          <div class="form-check form-check-radio form-check-inline">
            <label class="form-check-label">

              <input class="form-check-input" type="radio" id="inlineRadio2" value="female" formControlName="gender">
              Female

              <span class="circle"><span class="check"></span></span>
            </label>
          </div>

        </div>

        <div class="text-center">
          <button class="btn btn-deep-orange waves-light" type="submit" mdbRippleRadius>Sign up</button>
        </div>


      </form>

    </div>
  </div>
</div>
