<!--Navbar-->
<mdb-navbar *ngIf="hideNavbar()" SideClass="navbar navbar-expand-lg navbar-dark unique-color sticky-top ">
  <!-- Navbar brand -->
  <logo>
    <a class="navbar-brand" [routerLink]="['/']">
      <img src="assets/logo.png" height="40" alt="">
    </a>
  </logo>
  <!-- Collapsible content -->
  <links>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['/']">Home</a>
      </li>
      <ng-container
        *ngIf="!(this.auth.getCurrentUser()?.role! === 'Teacher' && !this.auth.getCurrentUser()?.isVerified!)">
        <!-- <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['/newsFeed']" *ngIf="isLoggedIn()">News
            Feed</a>
        </li> -->
        <!-- <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['/profile/book']" *ngIf="isLoggedIn()">Book A Teacher</a>
        </li> -->
        <li class="nav-item" [routerLinkActive]="['active']">
          <!--TODO: Resources-->
          <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['/users']" *ngIf="isLoggedIn()">People</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <!--TODO: Resources-->
          <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['/resources']"
             *ngIf="isLoggedIn()">Resources</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <!--TODO: Resources-->
          <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['/store/view']" *ngIf="isLoggedIn()">Store</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['/event/view']"
             *ngIf="isLoggedIn()">Activities</a>
        </li>
        <li class="nav-item" [routerLinkActive]="['active']">
          <!--TODO: Resources-->
          <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['/favorites']"
             *ngIf="isLoggedIn()">Favorites</a>
        </li>


      </ng-container>
    </ul>
    <!-- Links -->
    <!-- Links -->
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" [routerLinkActive]="['active']" *ngIf="!isLoggedIn()">
        <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['/login']">Login</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['/register-role']" *ngIf="!isLoggedIn()">Sign Up
        </a>
      </li>

      <li (click)="seenNotif()" class="nav-item dropdown btn-group d-none d-lg-block d-xl-block" dropdown *ngIf="isLoggedIn()">
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-effect waves-light" mdbWavesEffect>{{NotifCount}}
          <!--<i class="fa fa-bell"></i>-->
          <i *ngIf="NotifCount > 0" class="fa fa-bell" style="color: red"></i>
          <i *ngIf="NotifCount == 0 || !NotifCount" class="fa fa-bell" style="color: white"></i>
        </a>

        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary mydropdown" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect *ngIf="notifications.length == 0">No new
            notifications.</a>
          <span *ngFor="let notification of notifications | slice:0:4; let i=index">

                  <div class=" dropdown-item" [routerLink]=[notification.url] style="cursor: pointer;">
                     <div class="col-12">
                        <div class="float-left"><strong>{{notification.title}}</strong></div>
                        <div class="float-right"> {{notification.created_at | date}}</div>
                     </div>
                     <div class="col-12" style=" white-space: pre-wrap; clear: both;">{{notification.description}}</div>
                  </div>
                  <div class="divider dropdown-divider"></div>
               </span>
          <a [routerLink]="['/notifications']" class="dropdown-item waves-light text-center" mdbWavesEffect
             *ngIf="notifications.length !== 0">See more
            notifications.</a>
        </div>
      </li>

      <li class="nav-item dropdown btn-group d-none d-lg-block d-xl-block" dropdown *ngIf="isTeacher()">
        <a dropdownToggle type="button" class="nav-link dropdown-toggle waves-effect waves-light" mdbWavesEffect>{{requests.length}}
          <i class="fa fa-user-plus"></i>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary mydropdown " role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect *ngIf="requests.length == 0">No new
            Requests.</a>
          <span *ngFor="let request of requests | slice:0:4; let i=index">

                  <div class=" dropdown-item nofoc">
                     <div class="col-12">
                        <div class="float-left"><strong>Student Request</strong></div>
                        <div class="float-right"> {{request.created_at | date}}</div>
                     </div>
                    <div class="col-12" style=" white-space: pre-wrap; clear: both;">{{request.requestingParentId.name.firstName}} {{request.requestingParentId.name.lastName}} wants you to supervise his/her child {{request.childId.name.firstName}}</div>
                <div class="row text-right">  <div class="col-4"> </div><div class="col-8"> <button
                  class="btn btn-light-green btn-sm mr-2" (click)="acceptRequest(request)">Accept</button><button
                  class="btn btn-danger btn-sm" (click)="rejectRequest(request)">Reject</button></div></div>
                  </div>
                  <div class="divider dropdown-divider"></div>
               </span>
          <a [routerLink]="['/requests']" class="dropdown-item waves-light text-center" mdbWavesEffect
             *ngIf="requests.length !== 0">See more
            Request.</a>
        </div>
      </li>

      <li class="nav-item d-lg-none" [routerLinkActive]="['active']" *ngIf="isLoggedIn()">
        <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['notifications']">Notifications</a>
      </li>
      <li class="nav-item d-lg-none" [routerLinkActive]="['active']" *ngIf="isTeacher()">
        <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['requests']">Requests</a>
      </li>
      <li class="nav-item d-lg-none" [routerLinkActive]="['active']" *ngIf="isLoggedIn()">
        <a class="nav-link waves-light" mdbRippleRadius [routerLink]="['chat']">Messages</a>
      </li>
      <li class="nav-item d-lg-none" [routerLinkActive]="['active']" *ngIf="isLoggedIn()">
        <a class="nav-link waves-light" mdbRippleRadius *ngIf="isAdmin()" [routerLink]="['/profile/admin/dashboard']">Dashboard</a>
        <a class="nav-link waves-light" mdbRippleRadius *ngIf="!isAdmin()" [routerLink]="['profile','me']">Profile</a>
      </li>
      <li class="nav-item d-lg-none " *ngIf="isLoggedIn()">
        <a class="nav-link waves-light" mdbRippleRadius href="/login">Log Out</a>
      </li>
      <li class="nav-item d-none d-lg-block  d-xl-block" *ngIf="isLoggedIn()">
        <a class="nav-link waves-effect waves-light" [routerLink]="['/chat']">{{chatCount}}
          <i *ngIf="chatCount > 0" class="fa fa-envelope" style="color: red"></i>
          <i *ngIf="chatCount == 0 || !chatCount" class="fa fa-envelope" style="color: white"></i>
        </a>
      </li>
      <li class="nav-item avatar dropdown d-none d-lg-block d-xl-block" dropdown *ngIf="isLoggedIn()">
        <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light pt-0"
           mdbRippleRadius>
          <img src="{{apiUrlHTML}}/uploads/store/{{this.auth.getCurrentUser().photo}}"
               class="img-fluid rounded-circle z-depth-0">
          <span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown-primary pull-left" role="menu">
          <a class="dropdown-item waves-light" mdbRippleRadius *ngIf="isAdmin()"
             [routerLink]="['/profile/admin/dashboard']">Dashboard</a>
          <a class="dropdown-item waves-light" mdbRippleRadius *ngIf="!isAdmin()" [routerLink]="['profile','me']">Profile</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbRippleRadius href="/login">Log Out</a>
        </div>
      </li>
    </ul>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
