.avatar {
  height: 40px;
}

.avatar img {
  height: 40px;
}

.dropdown-menu {
  left: -100px;
}

.mydropdown
{
  width: 350px;
  font-size: 13px;
  left: -280px;
}

.nofoc:hover
{
  background-color: #fff !important;
}
