$topnav-background-color: #222;
:host {
  .navbar {
    background-color: $topnav-background-color;
    height: 7.5%;
    .navbar-brand {
      margin-left: 380px;
      color: #fff;
    }
    .nav-item > a {
      color: #999;
      &:hover {
        color: #fff;
      }
    }
  }
}

.ddropdown-menu-rightn {
  position: relative;
}


.avatar {
  margin-right: 397px;
  height: 40px;
}

.avatar img {
  height: 40px;
}

.dropdown-menu {
  left: -100px;
}
