<!--Card-->
<div class="card card-cascade wider reverse my-4 myCardSize">
   <!--Background image-->
   <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
      <img src="assets/nawwarBG.png" class="img-fluid">
      <a>
         <div class="mask"></div>
      </a>
   </div>
   <!--/Background image-->
   <!--Card content-->
   <div class="card-body text-center">
      <div class="avatar">
         <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle">
      </div>
      <!--Title-->
      <h3 class="card-title"><strong>{{currentUser.name.firstName}} {{currentUser.name.lastName}}</strong></h3>
      <h4 class="indigo-text"><strong>{{currentUser.role}}</strong></h4>
      <h5 class="indigo-text" *ngIf="currentUser.address"><strong>{{currentUser.address.street}}, {{currentUser.address.city}},
         {{currentUser.address.state}}, {{currentUser.address.zip}}</strong>
      </h5>
      <div class="mt-5">
         <ngb-tabset class="nav-justified">
            <ngb-tab title="Children">
               <ng-template ngbTabContent>
                  <div class="container">
                     <div class="row mt-2">
                        <div class="col-12">
                           <ng-template #content let-c="close" let-d="dismiss">
                              <div class="modal-header">
                                 <h4 class="modal-title">Add Child</h4>
                                 <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                 <span aria-hidden="true">&times;</span>
                                 </button>
                              </div>
                              <div class="modal-body">
                                 <div class="container">
                                    <div class="row">
                                       <div class="col-12">
                                          <!--Register form-->

                                         <form>
                                           <div class="md-form mb-0">
                                             <div class="row">
                                               <div class="col-md-6">
                                                 <div class="md-form mb-0">
                                                   <i class="material-icons prefix">face</i>
                                                   <input type="text" id="orangeForm-firstName" class="form-control"  #firstName mdbActive>
                                                   <label for="orangeForm-firstName">first name</label>
                                                 </div>
                                               </div>
                                               <div class="col-md-6">
                                                 <div class="md-form mb-0">
                                                   <i class="material-icons prefix">face</i>
                                                   <input type="text" id="orangeForm-lastName" class="form-control" #lastName mdbActive>
                                                   <label for="orangeForm-lastName">last name</label>
                                                 </div>
                                               </div>
                                             </div>
                                           </div>
                                           <div class="md-form">
                                             <i class="material-icons prefix">mail</i>
                                             <input type="text" id="orangeForm-email" class="form-control" #username mdbActive>
                                             <label for="orangeForm-email">username</label>
                                           </div>
                                           <div class="md-form">
                                             <i class="material-icons prefix">lock</i>
                                             <input type="password" id="orangeForm-pass" class="form-control" #password mdbActive>
                                             <label for="orangeForm-pass">Your password</label>
                                           </div>
                                           <div class="md-form">
                                             <i class="material-icons prefix">lock</i>
                                             <input type="password" id="orangeForm-confirmPass" class="form-control" #confirmPassword mdbActive>
                                             <label for="orangeForm-pass">Confirm password</label>
                                           </div>
                                           <div class="md-form">
                                             <div class="md-form mb-0">
                                               <div class="row">
                                                 <div class="col-lg-2 col-md-2 col-sm-4 col-4">
                                                   <i class="material-icons prefix">people</i>
                                                 </div>
                                                 <div class="col-lg-2 col-md-2 col-sm-4 col-4 pt-3 form-check form-check-radio">
                                                   <div class="md-form mb-0">
                                                     <input class="form-check-input" type="radio"  name="gender" value="male" #gender> Male
                                                   </div>
                                                 </div>
                                                 <div class="col-lg-8 col-md-8 col-sm-4 col-4 pt-3 form-check form-check-radio ">
                                                   <div class="md-form mb-0">
                                                     <input class="form-check-input" type="radio"  name="gender" value="female" #gender>Female
                                                   </div>
                                                 </div>
                                               </div>
                                             </div>
                                           </div>
                                           <div class="text-center">
                                             <div class="row">
                                               <div class="col-6">
                                                 <button class="btn btn-deep-orange waves-light" (click)="newChild(firstName.value,lastName.value,username.value,password.value,confirmPassword.value,gender.value)" mdbRippleRadius>Add</button>
                                               </div>
                                               <div class="col-6">
                                                 <button type="button" class="btn btn-blue-grey waves-light" (click)="c('Close click')" mdbRippleRadius> Close</button>
                                               </div>
                                             </div>
                                           </div>
                                         </form>
                                          <!--/Register form-->
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </ng-template>
                           <button class="btn btn-unique waves-light float-right" (click)="open(content)">Add Child</button>
                        </div>
                     </div>
                     <div class="row mt-3">
                        <div class="col-lg-3 col-md-4 col-sm-6 myCard" *ngFor="let child of myChildren">
                           <div class="card">
                              <img class="card-img-top rounded-circle mt-2" src="https://www.lacartedescolocs.fr/assets/fallbacks/profile_woman_medium_fallback-a7f0361efd57b6d193bef198dacdaaf2a0ac1aa17f23cd9613540c05f2c6bac6.png">
                              <div class="card-block">
                                 <h4 class="card-title mt-3 grey-text">{{ child.name.firstName }} {{ child.name.lastName }}</h4>
                              </div>
                              <div class="card-footer">
                                <ng-template #content let-c="close" let-d="dismiss">
                                        <div class="modal-header">
                                           <h4 class="modal-title">Edit Slot {{i}}</h4>
                                           <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                           <span aria-hidden="true">&times;</span>
                                           </button>
                                        </div>
                                        <div class="modal-body">
                                           <div class="container">
                                              <div class="row">
                                                 <div class="col-12">
                                                    <!--Contact Form-->
                                                    <form>
                                                        <div class="md-form">
                                                          <i class="material-icons prefix">title</i>
                                                            <input type="text" id="form3" class="form-control" #newTitle mdbActive>
                                                            <label for="form3">Title</label>
                                                        </div>
                                                        <div class="md-form">
                                                          <i class="material-icons prefix">description</i>
                                                            <textarea type="text" id="form8" class="md-textarea" style="height: 100px" #newDescription mdbActive></textarea>
                                                            <label for="form8">description</label>
                                                        </div>

                                                        <div class="text-center">
                                                           <div class="row">
                                                              <div class="col-6">
                                                                 <button class="btn btn-deep-orange waves-light" (click)="createNewTask(newTitle.value,newDescription.value,child._id)" mdbRippleRadius>Done</button>
                                                              </div>
                                                              <div class="col-6">
                                                                 <button type="button" class="btn btn-blue-grey waves-light" (click)="c('Close click')" mdbRippleRadius> Close</button>
                                                              </div>
                                                           </div>
                                                        </div>
                                                    </form>
                                                    <!--Contact Form-->
                                                 </div>
                                              </div>
                                           </div>
                                        </div>
                                     </ng-template>
                                 <div class="icon pull-right">
                                   <a placement="bottom" ngbTooltip="add new task" (click)="open(content)"><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></a>
                                    <a placement="bottom" ngbTooltip="Profile" (click)="viewChild(child._id)"><i class="fa fa-user fa-2x" aria-hidden="true"></i></a>
                                    <a placement="bottom" ngbTooltip="Messages"><i class="fa fa-envelope fa-fw fa-2x" aria-hidden="true"></i></a>
                                    <a placement="bottom" ngbTooltip="Remove"><i class="fa fa-ban fa-2x" aria-hidden="true"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </ng-template>
            </ngb-tab>
            <ngb-tab title="Tasks">
               <ng-template ngbTabContent>
                  <div class="container">
                     <div class="row mt-3">
                        <div class="col-lg-3 col-md-4 col-sm-6">
                           <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                              <div class="card-header">task assigned to</div>
                              <div class="card-body">
                                 <h5 class="card-title">Task title</h5>
                                 <p class="card-text white-text">Task short description.</p>
                              </div>
                              <div class="card-footer">
                                 <div class="icon pull-right">
                                    <a href="#" placement="bottom" ngbTooltip="Task"><i class="fa fa-tasks fa-2x white-text mr-2"
                                       aria-hidden="true"></i></a>
                                    <a href="#" placement="bottom" ngbTooltip="Remove"><i class="fa fa-ban fa-2x white-text"
                                       aria-hidden="true"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                           <div class="card text-white bg-secondry black-text mb-3" style="max-width: 18rem;">
                              <div class="card-header">task assigned to</div>
                              <div class="card-body">
                                 <h5 class="card-title">Task title</h5>
                                 <p class="card-text ">Task short description.</p>
                              </div>
                              <div class="card-footer">
                                 <div class="icon pull-right">
                                    <a href="#" placement="bottom" ngbTooltip="Task"><i class="fa fa-tasks fa-2x black-text  mr-2"
                                       aria-hidden="true"></i></a>
                                    <a href="#" placement="bottom" ngbTooltip="Remove"><i class="fa fa-ban fa-2x black-text"
                                       aria-hidden="true"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                           <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                              <div class="card-header">task assigned to</div>
                              <div class="card-body">
                                 <h5 class="card-title">Task title</h5>
                                 <p class="card-text white-text">Task short description.</p>
                              </div>
                              <div class="card-footer">
                                 <div class="icon pull-right">
                                    <a href="#" placement="bottom" ngbTooltip="Task"><i class="fa fa-tasks fa-2x white-text mr-2"
                                       aria-hidden="true"></i></a>
                                    <a href="#" placement="bottom" ngbTooltip="Remove"><i class="fa fa-ban fa-2x white-text"
                                       aria-hidden="true"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                           <div class="card text-white bg-danger  mb-3" style="max-width: 18rem;">
                              <div class="card-header">task assigned to</div>
                              <div class="card-body">
                                 <h5 class="card-title">Task title</h5>
                                 <p class="card-text white-text">Task short description.</p>
                              </div>
                              <div class="card-footer">
                                 <div class="icon pull-right">
                                    <a href="#" placement="bottom" ngbTooltip="Task"><i class="fa fa-tasks fa-2x white-text mr-2"
                                       aria-hidden="true"></i></a>
                                    <a href="#" placement="bottom" ngbTooltip="Remove"><i class="fa fa-ban fa-2x white-text"
                                       aria-hidden="true"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                           <div class="card text-white bg-warning  mb-3" style="max-width: 18rem;">
                              <div class="card-header">task assigned to</div>
                              <div class="card-body">
                                 <h5 class="card-title">Task title</h5>
                                 <p class="card-text white-text">Task short description.</p>
                              </div>
                              <div class="card-footer">
                                 <div class="icon pull-right">
                                    <a href="#" placement="bottom" ngbTooltip="Task"><i class="fa fa-tasks fa-2x white-text mr-2"
                                       aria-hidden="true"></i></a>
                                    <a href="#" placement="bottom" ngbTooltip="Remove"><i class="fa fa-ban fa-2x white-text"
                                       aria-hidden="true"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                           <div class="card text-white bg-info  mb-3" style="max-width: 18rem;">
                              <div class="card-header">task assigned to</div>
                              <div class="card-body">
                                 <h5 class="card-title">Task title</h5>
                                 <p class="card-text white-text">Task short description.</p>
                              </div>
                              <div class="card-footer">
                                 <div class="icon pull-right">
                                    <a href="#" placement="bottom" ngbTooltip="Task"><i class="fa fa-tasks fa-2x white-text mr-2"
                                       aria-hidden="true"></i></a>
                                    <a href="#" placement="bottom" ngbTooltip="Remove"><i class="fa fa-ban fa-2x white-text"
                                       aria-hidden="true"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                           <div class="card text-white bg-dark  mb-3" style="max-width: 18rem;">
                              <div class="card-header">task assigned to</div>
                              <div class="card-body">
                                 <h5 class="card-title">Task title</h5>
                                 <p class="card-text white-text">Task short description.</p>
                              </div>
                              <div class="card-footer">
                                 <div class="icon pull-right">
                                    <a href="#" placement="bottom" ngbTooltip="Task"><i class="fa fa-tasks fa-2x white-text mr-2"
                                       aria-hidden="true"></i></a>
                                    <a href="#" placement="bottom" ngbTooltip="Remove"><i class="fa fa-ban fa-2x white-text"
                                       aria-hidden="true"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                           <div class="card text-white bg-light black-text mb-3" style="max-width: 18rem;">
                              <div class="card-header">task assigned to</div>
                              <div class="card-body">
                                 <h5 class="card-title">Task title</h5>
                                 <p class="card-text">Task short description.</p>
                              </div>
                              <div class="card-footer">
                                 <div class="icon pull-right">
                                    <a href="#" placement="bottom" ngbTooltip="Task"><i class="fa fa-tasks fa-2x black-text  mr-2"
                                       aria-hidden="true"></i></a>
                                    <a href="#" placement="bottom" ngbTooltip="Remove"><i class="fa fa-ban fa-2x black-text"
                                       aria-hidden="true"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </ng-template>
            </ngb-tab>
         </ngb-tabset>
      </div>
   </div>
   <!--/.Card content-->
</div>
<!--/.Card-->
