<!--<toaster-container></toaster-container>-->

<!--<button (click)="newChildBtn=true;">Add Child</button>-->
<!--<div *ngIf="newChildBtn">-->
<!--<input type="text" placeholder="First Name" [(ngModel)]="childFirstName" id="childFirstName">-->
<!--<input type="text" placeholder="Last Name" [(ngModel)]="childlastName" id="childlastName">-->

<!--<input type="text" placeholder="username" [(ngModel)]="childUsername" id="childUsername">-->
<!--<input type="password" placeholder="password" [(ngModel)]="childPassword" id="childPassword">-->
<!--<input type="password" placeholder="password" [(ngModel)]="childConfirmPassword" id="childConfirmPassword">-->

<!--<label>Gender: </label>-->
<!--<select [(ngModel)]="childGender" name="gender" class="">-->
<!--<option value="male">Male</option>-->
<!--<option value="female">Female</option>-->
<!--</select>-->

<!--<button type="submit" (click)="newChild()">Add</button>-->

<!--</div>-->


<div class="page-header header-filter" data-parallax="true"
     style="background-image: url('../../../../assets/img/profileheader.png');"></div>

<div class="main main-raised">
  <div class="profile-content">
    <div class="container">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">
          <div class="profile">
            <div class="avatar">
              <!-- TODO: User Image-->
              <img src="../../../../assets/img/lam3i.png" alt="Circle Image"
                   class="img-raised rounded-circle img-fluid">
            </div>

            <div class="name">
              <!-- TODO: User Name -->
              <h3 class="title">{{this.currentUser.name.firstName}} {{this.currentUser.name.lastName}}</h3>

              <!-- TODO: User Career -->
              <h5>Designer</h5>

              <!-- TODO: User Address -->
              <h6>{{this.currentUser.name.address}}</h6>

              <!-- <a href="#pablo" class="btn btn-just-icon btn-link btn-dribbble"><i class="fa fa-dribbble"></i></a>
              <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter"><i class="fa fa-twitter"></i></a>
              <a href="#pablo" class="btn btn-just-icon btn-link btn-pinterest"><i class="fa fa-pinterest"></i></a> -->

            </div>

          </div>
        </div>
      </div>
      <div class="description text-center">
        <!-- About Section -->
        <p>An artist of considerable range, Chet Faker &#x2014; the name taken by Melbourne-raised, Brooklyn-based Nick
          Murphy &#x2014; writes, performs and records all of his own music, giving it a warm, intimate feel with a
          solid groove structure. </p>
      </div>

      <div class="row">
        <div class="col-md-6 ml-auto mr-auto">

          <div class="profile-tabs">

            <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">

              <!-- <li class="nav-item">
                <a class="nav-link active" href="#studio" role="tab" data-toggle="tab">
                  <i class="material-icons">camera</i> Studio
                </a>
              </li> -->

              <li class="nav-item">
                <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                  <i class="material-icons">child_care</i> Children
                </a>
              </li>

              <li class="nav-item">
                <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                  <i class="material-icons">info</i> Personal Info

                </a>
              </li>

            </ul>
          </div>
        </div>
      </div>

      <div class="tab-content tab-space">
        <div class="tab-pane active text-center gallery" id="studio">
          <div class="row">
            <div class="col-md-3 ml-auto">

            </div>
            <div class="col-md-3 mr-auto">

            </div>
          </div>
        </div>
        <div class="tab-pane text-center gallery" id="works">
          <div class="row">
            <div class="col-md-3 ml-auto">

            </div>
            <div class="col-md-3 mr-auto">

            </div>
          </div>
        </div>
        <div class="tab-pane text-center gallery" id="favorite">
          <div class="row">
            <div class="col-md-3 ml-auto">

            </div>
            <div class="col-md-3 mr-auto">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


