<form [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)" class="form-signin" novalidate autocomplete="off">

  <input class="form-control" id="email" [formControl]="email" placeholder="Email/Username"><br>
  <!-- ERROR: username -->
  <div class="text-danger" *ngIf="loginForm.get('email').dirty && loginForm.get('email').invalid">
    Please enter your email/username
  </div>

  <input class="form-control" type="password" id="password" [formControl]="password" placeholder="Password"><br>
  <!-- ERROR: passsword -->
  <div class="text-danger" *ngIf="loginForm.get('password').dirty && loginForm.get('password').invalid">
    Please enter password
  </div>

  <button type="submit" class="btn btn-hero-success main-btn ccenter" [disabled]="loginForm.invalid">Login</button>

</form>
