<div class="card">
  <img src="" style="width:100%">
  <h1 id="name"></h1>
  <p id="email"></p>
  <p id="fees"></p>
  <p id="phone"></p>
  <p id="address"></p>

  <p id="About"></p>


</div>
<button onclick="document.getElementById('editModal').style.display='block'" style="width:auto;">Edit</button>

<div id="editModal" class="modal">
  <span onclick="document.getElementById('editModal').style.display='none'" class="close"
        title="Close Modal">&times;</span>
  <form (submit)=onEditInfo() id="editForm" class="modal-content" action="/action_page.php">
    <div id="editContainer" class="container">
      <h1>Edit your info</h1>
      <hr>
      <label for="firstName"><b> Fisrt Name</b></label>
      <input type="text" placeholder="First Name" [(ngModel)]="firstName" name="fname" required>

      <label for="middleName"><b> Middle Name</b></label>
      <input type="text" placeholder="Middle Name" [(ngModel)]="middleName" name="Mname">

      <label for="lastName"><b> Last Name</b></label>
      <input type="text" placeholder="Last Name" [(ngModel)]="lastName" name="lname" required>

      <label for="email"><b> Email</b></label>
      <input type="text" placeholder="Email" [(ngModel)]="email" name="email" required>


      <label for="about"><b>About</b></label>
      <input type="text" placeholder=" About" [(ngModel)]="about" name="state">

      <label for="city"><b> City</b></label>
      <input type="text" placeholder=" City" [(ngModel)]="city" name="city">

      <label for="street"><b> Street</b></label>
      <input type="text" placeholder=" Street" [(ngModel)]="street" name="street">

      <label for="state"><b> State</b></label>
      <input type="text" placeholder=" State" [(ngModel)]="state" name="state">


      <label for="zip"><b> Zip</b></label>
      <input type="number" placeholder=" Zip" [(ngModel)]="zip" name="zip">

      <label for="fees"><b> Fees</b></label>
      <input type="number" placeholder=" Zip" [(ngModel)]="fees" name="fees">


      <div id="clearfix" class="clearfix">
        <button type="button" onclick="document.getElementById('editModal').style.display='none'" class="cancelbtn">
          Cancel
        </button>
        <button id="editbutton" type="submit" class="editbtn">Edit</button>
      </div>
    </div>
  </form>
</div>

