<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>

<div class="divider" style="padding-top:50px;"></div>
<div class="container">
	<div *ngIf = "currentChat">
		<div *ngFor='let message of currentChat.messages'>
			<div class = "col-md-6" *ngIf='message.from == currentChat.chat._id'>{{currentChat.chat.name.firstName}}: {{message.text}}</div>
			<div class = "col-md-offset-6" *ngIf='message.from != currentChat.chat._id'>Me: {{message.text}}</div>

		</div>
		<div>

		</div>
	</div>
  <input type="text" class="txt" placeholder="Type here..." [(ngModel)]="msgToServer">
  <!--<h1>{{msgToServer}}</h1>-->
  <button class="btn btn-default waves-light" mdbRippleRadius (click)="sendMessage(msgToServer)">Send To Server</button>
  <br><br>
  <h1 *ngIf = "currentChat">Message From {{currentChat.chat.name.firstName}}: <br> {{serverMsg | json}}</h1>
</div>



<h2>Chats</h2>


<div *ngFor='let chat of chats'>
	  <button class="btn btn-default waves-light" mdbRippleRadius (click)="changeCurrentChat(chat)">{{chat.chat.name.firstName}} {{chat.chat.name.lastName}}</button>
</div>