<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>

<div class="divider" style="padding-top:50px;"></div>
<div class="container">
  <div class="row" id="container">
    <div class="col-md-3 col-xs-3 scroll-box chats">
      <!--Table-->
      <h3 style="text-align: center">Chats</h3>
      <table class="table table-hover">

        <tbody>
        <tr *ngFor='let chat of chats'>
          <th (click)="changeCurrentChat(chat)"><img src="{{apiUrlHTML}}/uploads/store/{{chat.chat.photo}}"
                                                     class="img-fluid rounded-circle z-depth-0" id="reciever_img"></th>
          <td (click)="changeCurrentChat(chat)"><span
            id="name">{{chat.chat.name.firstName}} {{chat.chat.name.lastName}}</span><br>
            <span *ngIf="chat.messages.length > 0">
            		<span *ngIf="chat.messages[chat.messages.length - 1].seen_at != null">{{chat.messages[chat.messages.length - 1].text}}</span>
            		<span *ngIf="chat.messages[chat.messages.length - 1].seen_at == null"  style ="font-weight: bold;">{{chat.messages[chat.messages.length - 1].text}}</span>
            </span></td>
        </tr>
        </tbody>
        <!--Table body-->

      </table>
    </div>


    <div class="col-md-9 col-xs-9">
      <div *ngIf="currentChat">
        <div class="card">
          <h3 class="card-header primary-color white-text">
            {{currentChat.chat.name.firstName}} {{this.currentChat.chat.name.lastName}}
          </h3>
          <div class="card-body scroll-box">
            <div class="row" *ngFor='let message of currentChat.messages'>
              <div *ngIf='message.from == currentChat.chat._id' class="col-md-1 col-sm-1"><img
                src="{{apiUrlHTML}}/uploads/store/{{this.currentChat.chat.photo}}"
                class="img-fluid rounded-circle z-depth-0" id="reciever_img"></div>

              <div id="recieved" class="col-md-4 col-sm-4" *ngIf='message.from == currentChat.chat._id'>
                {{message.text}}
              </div>

              <div id="sent" class="offset-md-8 offset-sm-8" *ngIf='message.from != currentChat.chat._id'>
                {{message.text}}
              </div>

            </div>
          </div>
          <div class="card-footer">
            <div style="display: inline;">
              <input type="text" id="message" (keyup.enter)="sendMessage(msgToServer)"
                     placeholder="Type your message here..." [(ngModel)]="msgToServer">
              <button class="btn btn-default btn-circle" (click)="sendMessage(msgToServer)"><span><i
                class="material-icons">send</i></span></button>
            </div>

          </div>

        </div>
      </div>
      <div *ngIf="!currentChat">
        <h2>you have no messages yet!</h2>
      </div>
    </div>
  </div>
</div>




