<div class="row">
	<div class="col-md-7">
		<h2 class="primary-text text-center">POSTED ARTICLES: </h2>
		<div class="container" [innerHTML]="articleContainer"></div>
	</div>
	<div class="col-md-5 jumbotron">
		<form>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Title: </label>
				<div class="col-sm-10">
					<input class="form-control" [(ngModel)]="title" name="title" placeholder="Title">
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label">Tags: </label>
				<div class="col-sm-10">
					<input class="form-control" placeholder="Tags">
				</div>
			</div>
			<quill-editor [placeholder]="'Enter post content here...'" (onContentChanged)="updateContent($event);">
			</quill-editor>
			<br>
			<button type="button" (click)="onSubmit()" class="btn btn-block btn-success">Post</button>
		</form>
	</div>
</div>