<!--<toaster-container></toaster-container>-->
<div class="card card-cascade wider">
  <div class="card-body">
    <div class="item" *ngIf="item&&user">
      <div class="row">
        <div class="col-md-4 col-xs-3">
          <img id="icon" src="http://127.0.0.1:3000/api/uploads/store/{{item['picture_url']}}"/>
        </div>
        <div class="col-md-8 col-xs-9">
          <div class="row" id="info">
            <div class="col-md-8 col-xs-9">
              <div class="row">
                <span id="name"><b>{{item["name"]}}</b></span>
                <span id="type">({{item["item_type"]}})</span>
              </div>
              <div class="row">
                <span id="username">by <b>{{user["name"].firstName + " " + user["name"].lastName}}</b></span>
              </div>
              <div class="row">
                <span id="email">Email: {{user["email"]}} </span>
                <span id="phone" *ngIf="user.phone"> number: {{user["phone"]}}</span>
              </div>
            </div>
            <div class="col-md-4 col-xs-3">
              <div class="box">
                <span id="condition"><b>{{item["item_condition"]}}</b></span>
                <br>
                <span id="price">{{item["price"]}}LE.</span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-10 col-md-9">
              <span id="description">{{item["description"]}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-md-offset-7">
              <span id="quantity"><b>Quantity: </b>{{item["quantity"]}}</span>
            </div>
          </div>
          <div class="row" *ngIf="owner">
            <button (click)="deleteProduct()" class="btn btn-danger">Delete</button>
            <button (click)=" open(content)" class="btn btn-info">Edit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-12">
<form>
  <div class="md-form mb-0">
    <div class="row">
      <div class="col-md-6">
        <div class="md-form mb-0">
          <input type="text" id="orangeForm-name" value ="{{item['name']}}" [(ngModel)]="item['name']" [ngModelOptions]="{standalone: true}" class="form-control" #name
                 mdbActive>
          <label for="orangeForm-name">name </label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="md-form mb-0">
          <input type="text" id="orangeForm-price" value ="{{item['price']}}" [(ngModel)]="item['price']" [ngModelOptions]="{standalone: true}"class="form-control" #price
                 mdbActive>
          <label for="orangeForm-price">price</label>
        </div>
      </div>
    </div>
  </div>
  <div class="md-form">
    <input type="text" id="orangeForm-description" value ="{{item['description']}}" [(ngModel)]="item['description']" [ngModelOptions]="{standalone: true}"class="form-control" #description mdbActive>
    <label for="orangeForm-description">description</label>
  </div>
  <div class="md-form">
    <i class="material-icons prefix">quantity</i>
    <input type="text" id="orangeForm-quantity" value ="{{item['quantity']}}" [(ngModel)]="item['quantity']" [ngModelOptions]="{standalone: true}"class="form-control" #quantity mdbActive>
    <label for="orangeForm-quantity">quantity</label>
  </div>
  <div class="md-form">
    <i class="material-icons prefix">item_type</i>
    <input type="text" id="orangeForm-item_type" value ="{{item['item_type']}}" [(ngModel)]="item['item_type']" [ngModelOptions]="{standalone: true}" class="form-control" #item_type
           mdbActive>
    <label for="orangeForm-item_type">item_type</label>
  </div>
  <div class="md-form">
    <i class="material-icons prefix">item_condition</i>
    <input type="text" id="orangeForm-item_condition" value ="{{item['item_condition']}}" [(ngModel)]="item['item_condition']" [ngModelOptions]="{standalone: true}"class="form-control" #item_condition
           mdbActive>
    <label for="orangeForm-item_condition">item_condition</label>
  </div>
  <div class="text-center">
    <div class="row">
      <div class="col-6">
        <button class="btn btn-deep-orange waves-light"
                (click)="editItem(item)  ; c('Close click')"
                mdbRippleRadius>Update
        </button>
      </div>
      <div class="col-6">
        <button type="button" class="btn btn-blue-grey waves-light"
                (click)="c('Close click')" mdbRippleRadius> Close
        </button>
      </div>
    </div>
  </div>
</form>
</div>
</div>
</div>
</div>
</ng-template>
