<div class="row">
  <div class="col-lg-4 col-md-4" >
    <div class="card text-center">
      <div class="card-header">
        Title: {{ article.title}}
      </div>
      <div class="card-body">

        <h3 class="card-tile">Tags:</h3>
        <p class="card-tile">{{ article.tags}}</p>

        <h5 class="card-text">Content:</h5>
        <div [innerHTML]="article.content">
        </div>
        
        <button class="btn btn-primary btn-sm " id="btn"  (click)="verify(article._id)"> verify<i class="fas fa-cart-plus"></i></button>
      </div>
      <div class="card-footer text-muted">
        Listed on: {{ article.createdAt | date}}
      </div>
    </div>
  </div>
  
  </div> 