<div class="divider" style="padding-top:50px;"></div>

<div class="container">

  <div class="row">

    <div class="col-lg-3 mb-3">


      <div class="nav  flex-column nav-pills " aria-orientation="vertical">
        <a [routerLinkActive]="['active']" [routerLink]="['/store/view']" *ngIf="isLoggedIn()" class="nav-link nimp" style="padding: 10px !important;">
          <span>
            <i class="material-icons">store</i>
          </span> Store</a>
        <a [routerLinkActive]="['active']" style="cursor: pointer;" class="nav-link nimp" [routerLink]="['/store/myitems/view']" *ngIf="isNotChild"
          style="padding: 10px !important;">
          <span>
            <i class="material-icons">loyalty</i>
          </span> My items
        </a>
        <a [routerLinkActive]="['active']" style="cursor: pointer;" class="nav-link nimp" [routerLink]="['/store/myitems/create']" *ngIf="isNotChild"
          style="padding:10px !important;">
          <span>
            <i class="material-icons">playlist_add</i>
          </span>
          Add item</a>
      </div>


    </div>

    <div class="col-lg-9">


      <router-outlet></router-outlet>


    </div>

  </div>

</div>