table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-size: 1em;
  font-weight: bold;

}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* p {
}
p.thick {
} */
