<h2>Tags <span>  <a (click)="close()" class="float-right"><i class="fa fa-times-circle" aria-hidden="true"></i></a></span></h2>

<mat-dialog-content><strong>
<div class="row" style="width: 50rem;">
  <div class="col-md-4" *ngFor="let tag of tags" >
      <div  class="card my-2" style="width: 15rem;">
        <div class="card-body">
            
                <button class="badge badge-pill green" >{{tag.name}}</button>
                <button class="badge badge-pill btn-danger float-right" (click)="deleteTag(tag._id)" style="cursor: pointer;">Remove</button>
        </div>
        </div>
      </div>
    </div>
    </strong>
  </mat-dialog-content>
 