<br>
<div class="row">
  <div class="col-lg-4 col-md-4"  *ngFor="let teacher of Teachers">
    <div class="card text-center">
      <div class="card-header">
        Name: {{ teacher.name.firstName+" "+teacher.name.lastName}}
      </div>
      <div>
        <p>{{ teacher.about }} </p>
        <p>{{ teacher.qualifications }} </p>
        <p>{{ teacher.fees }} </p>
        <p>{{ teacher.address }} </p>
        <p>test </p>

        <button class="btn btn-success " (click)="Accept(teacher._id)" >Accept</button>
        <button class="btn btn-danger " (click)="Decline(teacher._id)" >Decline</button>


      </div>
      <div class="card-footer text-muted">
        Listed on: <strong>{{ teacher.joinedAt }}</strong> 
      </div>
    </div>
  </div>
</div>
<br>
<toaster-container></toaster-container>

