<div class="divider" style="padding-top:50px;"></div>


<div class="container">

  <div class="row" >
    <div class="col-sm-6 mb-3" *ngFor='let request of requests' >
      <div class="card"  style="cursor: pointer;">
        <div class="card-body">
          <div class="row">
            <div class="col-6"><h5 class="card-title"><strong>{{request.requestingParentId.name.firstName}} {{request.requestingParentId.name.lastName}}</strong></h5></div>
            <div class="col-6 text-right" >{{request.created_at |date }}</div>
          </div>
          <p class="card-text">{{request.requestingParentId.name.firstName}} {{request.requestingParentId.name.lastName}}
            wants you to supervise his/her child {{request.childId.name.firstName}}</p>

          <div class="row" >
            <div class="col-6 text-left"><button class="btn btn-light-green"(click)="acceptRequest(request)"><i aria-hidden="true"></i>Accept</button></div>

            <div class="col-6 text-right"><button class="btn btn-danger " (click)="rejectRequest(request)"><i aria-hidden="true"></i>Reject</button></div>

          </div>

        </div>
      </div>

    </div>
  </div>


</div>
