<div>
  <div>
    <h3 class="page-title">Edit</h3>
  </div>
  <div class="pull-right">
    <button (click)="close()" class="btn btn-info">x</button>
  </div>
</div>
<div>
  <table class="table table-striped table-hover" id="Activities">
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>description</th>
      <th>place</th>
      <th>type</th>
      <th>Edit</th>
    </tr>
    <tr>
      <th><input class="form-control" id="Name" [(ngModel)]="name" placeholder="Activity Name" value="{{ Name }}"><br></th>
      <th><input class="form-control" id="price" [(ngModel)]="price" placeholder="Activity's Price" value="{{ price }}"><br></th>
      <th><input class="form-control" id="description" [(ngModel)]="description" placeholder="Activity's description"
                 value="{{ description }}"><br></th>
      <th><input class="form-control" id="place" [(ngModel)]="place" placeholder="Activity's place"
                 value="{{ place }}"><br></th>
      <th><input class="form-control" id="activity_type" [(ngModel)]="activity_type" placeholder="Activity's Type"
                 value="{{ activity_type }}"><br></th>
        <button (click)="editActivity()" class="btn btn-danger">Submit</button>
     
    </tr>
  </table>

</div>
