<div class="row">

  <div class="col-lg-4 col-md-6 mb-3" *ngFor='let activity of myactivities | paginate: { itemsPerPage: 4, currentPage: p };let i = index'>
    <div class="card h-100">
      <img class="card-img-top myImg" src="{{apiUrlHTML}}/uploads/activity/{{activity['picture_url']}}" alt="">
      <div class="card-body">
        <h4 class="card-title">
          {{activity['name']}}
        </h4>
        <h5>{{activity['price'] | currency}}</h5>
        <p class="card-text">{{activity['description'] | slice:0:50 }} ...</p>
      </div>
      <div class="card-footer">
        <div class="icon pull-right">
          <a (click)="viewInfo(activity['_id'])" placement="bottom" ngbTooltip="Info">
            <i class="fa fa-info fa-2x mr-2" aria-hidden="true"></i>
          </a>
          <a (click)="deleteActivity(activity._id)" placement="bottom" ngbTooltip="Delete">
            <i class="fa fa-trash fa-2x mr-2" aria-hidden="true"></i>
          </a>
          <a (click)="open(content)" placement="bottom" ngbTooltip="Edit">
            <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
          </a>
        </div>


        <ng-template #content let-c="close" let-d="dismiss">
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-12">
                  <form>
                    <div class="md-form mb-0">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="md-form mb-0">
                            <input type="text" id="orangeForm-name" value="{{activity['name']}}" [(ngModel)]="activity['name']" [ngModelOptions]="{standalone: true}" class="form-control" #name mdbActive>
                            <label for="orangeForm-name">name </label>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="md-form mb-0">
                            <input type="text" id="orangeForm-price" value="{{activity['price']}}" [(ngModel)]="activity['price']" [ngModelOptions]="{standalone: true}" class="form-control" #price mdbActive>
                            <label for="orangeForm-price">price</label>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="md-form">
                      <input type="text" id="orangeForm-description" value="{{activity['description']}}" [(ngModel)]="activity['description']" [ngModelOptions]="{standalone: true}" class="form-control" #description mdbActive>
                      <label for="orangeForm-description">description</label>
                    </div>
                    <div class="md-form">

                      <input type="text" id="orangeForm-place" value="{{activity['place']}}" [(ngModel)]="activity['place']" [ngModelOptions]="{standalone: true}" class="form-control" #place mdbActive>
                      <label for="orangeForm-place">place</label>
                    </div>
                    <div class="md-form">

                      <input type="text" id="orangeForm-type" value="{{activity['activity_type']}}" [(ngModel)]="activity['activity_type']" [ngModelOptions]="{standalone: true}" class="form-control" #activity_type mdbActive>
                      <label for="orangeForm-activity_type">activity_type</label>
                    </div>
                    <div class="text-center">
                      <div class="row">
                        <div class="col-6">
                          <button class="btn btn-deep-orange waves-light" (click)="editActivity(activity)  ; c('Close click')" mdbRippleRadius>Update
                          </button>
                        </div>
                        <div class="col-6">
                          <button type="button" class="btn btn-blue-grey waves-light" (click)="c('Close click')" mdbRippleRadius> Close
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </ng-template>


        <div class="icon pull-left" style="line-height: 2.1em;">

          <span>{{activity['going_user_id'].length}}</span> <i class="fa fa-check fa-fw mr-2" style="color:green;" aria-hidden="true"></i>

        </div>
      </div>
    </div>
  </div>

</div>


<div class="row mt-5" style="text-align: center;" *ngIf='!myactivities.length==0'>
  <div class="col-12">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>

<div *ngIf='myactivities.length==0' class="row">
  <h5 class="m-auto pt-5">There are currently no activities to be displayed</h5>
</div>
