<div class="divider" style="padding-top:50px;"></div>
<div class="container">
  <section class="mt-4" *ngIf="isInitialized">
    <div class="row">
      <div class="col-md-8 mb-4">
        <!--Featured Image-->
        <div class="card mb-4 wow fadeIn">
          <img src="{{pic_url}}" class="img-fluid" alt="">
        </div>
        <!--/.Featured Image-->
        <!--Card-->
        <div class="card mb-4 wow fadeIn">
          <!--Card content-->
          <div class="card-body">
            <h1 class="text-center text-primary">
              <strong>{{article.title}}</strong>
            </h1>
            <hr>
            <div [innerHTML]="article.content | safeHtml"></div>
            <hr>
            <p align="right">Posted on:
              <em>{{article.createdAt | date }}</em>
            </p>
          </div>
        </div>
        <!--/.Card-->
        <!--Card-->
        <div class="card mb-4 wow fadeIn">
          <div class="card-header font-weight-bold">
            <span>About author</span>
            <span class="pull-right">
              <a style="cursor: pointer;" [routerLink]="['/profile',article.owner_id]">
                Open profile
                <i class="fa fa-user-circle"></i>
              </a>
            </span>
          </div>
          <!--Card content-->
          <div class="card-body">
            <div class="media d-block d-md-flex mt-3">
              <img class="d-flex mb-3 mx-auto z-depth-1" [src]="IMG + author.photo" alt="Generic placeholder image" style="width: 100px;">
              <div class="media-body text-center text-md-left ml-md-3 ml-0">
                <h5 class="mt-0 font-weight-bold name-capitalize">{{author.name.firstName + ' ' + author.name.lastName}}
                </h5>
                {{(author.about)? author.about: "This user didn't enter any information about him/herself."}}
              </div>
            </div>
          </div>
        </div>
        <!--/.Card-->

        <!--Comments-->
        <div class="card card-comments mb-3 wow fadeIn">
          <div class="card-header font-weight-bold">{{comments.length}} comments</div>
          <div class="card-body">
            <div class="form-group mt-4">
              <h4 class="text-center text-primary">
                <strong>Leave a reply</strong>
              </h4>
              <textarea class="form-control" [(ngModel)]="commentContent" name="comment" placeholder=" Leave your comment here ..." rows="5"></textarea>
              <div class="text-center">
                <button type="submit" (click)="comment()" class="btn btn-info btn-sm">Post</button>
              </div>
            </div>
            <hr>
            <!-- COMMENTS START HERE! -->
            <div class="media d-block d-md-flex mt-4" *ngFor="let comment of comments | paginate: { itemsPerPage: 4, currentPage: p };let i = index">
              <img class="d-flex mb-3 mx-auto " [src]="IMG + comment.commenter.photo" alt="Generic placeholder image">
              <div class="media-body text-center text-md-left ml-md-3 ml-0">
                <h5 class="mt-0 font-weight-bold">
                  <a class="name-capitalize" style="cursor: pointer;" [routerLink]="['/profile',comment.commenter._id]">
                    {{comment.commenter.name.firstName}} {{comment.commenter.name.lastName}}
                  </a>
                </h5>
                {{comment.comment_content}}
              </div>
            </div>
            <div style="text-align: center;">
              <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>

          </div>
        </div>
        <!--/.Comments-->

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-4 mb-4">

        <!--Card: Jumbotron-->
        <div class="card gradient-custom mb-4 wow fadeIn">

          <!-- Content -->
          <div class="card-body text-white text-center">

            <h4 class="mb-4">
              <strong>Add to your favorites!</strong>
            </h4>
            <p>
              <strong>Like this article? you can star it to save in your favorites</strong>
            </p>
            <p class="mb-4">
              <!-- EXTRA TEXT HERE  -->
            </p>
            <a (click)="addToFavorite(article._id)" class="btn btn-outline-white btn-md">Favorite
              <i class="fa fa-star"></i>
            </a>

          </div>
          <!-- Content -->
        </div>
        <!--Card: Jumbotron-->

        <!--Card : Dynamic content wrapper-->
        <div class="card mb-4 text-center wow fadeIn">

          <div class="card-header">
            <strong>Rating</strong>
          </div>

          <!--Card content-->
          <div class="card-body">

            <!-- Default form login -->
            <label class="text-info">Total score: </label>
            <label class="text-success" *ngIf="article.upvoters.length > article.downvoters.length">
              {{article.upvoters.length - article.downvoters.length}}
              <i class="fa fa-arrow-up"></i>
            </label>
            <label class="text-danger" *ngIf="!(article.upvoters.length > article.downvoters.length)">
              {{ article.downvoters.length - article.upvoters.length }}
              <i class="fa fa-arrow-down"></i>
            </label>

            <div class="text-center mt-4">
              <a class="btn btn-success btn-block" (click)="upvote(article._id)" role="button">
                <i class="fa fa-thumbs-o-up mr-1" aria-hidden="true"></i>Upvote ({{article.upvoters.length}})
              </a>
              <hr>
              <a class="btn btn-danger btn-block" (click)="downvote(article._id)" role="button">
                <i class="fa fa-thumbs-o-down mr-1" aria-hidden="true"></i>Downvote ({{article.downvoters.length}})
              </a>
            </div>
          </div>
          <br>

        </div>
        <div *ngIf="isOwner" class="card mb-4 text-center wow fadeIn">
          <div class="card-header">
            <strong>Actions</strong>
          </div>

          <div class="card-body">
            <a class="btn btn-danger btn-block" (click)="delete(article._id)" role="button">
              <i aria-hidden="true"></i>Delete Article
            </a>
            <a class="btn btn-primary btn-block" (click)="edit(article._id)" role="button">
              <i aria-hidden="true"></i>Edit Article
            </a>
          </div>
        </div>
        <div *ngIf="currentUserRole == 'Parent'" class="card mb-4 text-center wow fadeIn">
          <div class="card-header">

            <strong>Assign to one of your children</strong>
          </div>
          <div class="card-body">
            <select class="custom-select" [(ngModel)]="selectedChild" name="selected-child">
              <option *ngFor="let child of children" [value]="child._id">{{ child.name.firstName + ' ' + child.name.lastName }}</option>
            </select>
            <br>
            <br>
            <a role="button" class="btn btn-primary btn-block" (click)="assignChild()">Assign
              <i class="fa fa-check"></i>
            </a>
          </div>

        </div>
        <!--/.Card : Dynamic content wrapper-->
      </div>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </section>


</div>