
<!--Card-->
<div class="card card-cascade wider reverse my-4 myCardSize">
   <!--Card image-->
   <div class="view overlay hm-white-slight waves-light" mdbRippleRadius>
      <img src="assets/nawwarBG.png" class="img-fluid">
      <a>
         <div class="mask"></div>
      </a>
   </div>
   <!--/Card image-->
   <!--Card content-->
   <div class="card-body text-center">
      <div class="avatar">
         <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="rounded-circle">
      </div>
      <!--Title-->
      <h3 class="card-title"><strong>{{currentUser.name.firstName}} {{currentUser.name.lastName}}</strong></h3>
      <h4 class="indigo-text"><strong>{{currentUser.role}}</strong></h4>
      <h5 class="indigo-text" *ngIf="currentUser.address"><strong>{{currentUser.address.street}}, {{currentUser.address.city}},
         {{currentUser.address.state}}, {{currentUser.address.zip}}</strong>
      </h5>
      <div class="mt-5">
         <ngb-tabset class="nav-justified">
            <ngb-tab title="Schedule">
               <ng-template ngbTabContent>
                  <div class="container">
                     <div class="row">
                        <div class=" mt-3 col-12">
                           <div class="card">
                              <div class="card-body">
                                 <ngb-tabset type="pills" class="justify-content-center">
                                    <ngb-tab title="Saturday">
                                       <ng-template ngbTabContent>
                                          <div class="row mt-3">
                                             <div class="col-12">
                                                <!--Table-->
                                                <table class="table border-primary table-hover">
                                                   <!--Table body-->
                                                   <tbody>
                                                      <tr *ngFor="let Slot of sat ; let i = index">
                                                         <th class="table-nawwar">
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <h3>Slot {{i+1}}</h3>
                                                               </div>
                                                            </div>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <p>00:00AM</p>
                                                               </div>
                                                            </div>
                                                         </th>
                                                         <td>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <h3>{{ Slot.slot.title }}</h3>
                                                               </div>
                                                            </div>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <p>{{ Slot.slot.description }}</p>
                                                               </div>
                                                            </div>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <a href="#" placement="bottom"  ngbTooltip="Go to URL" ><i class="fa fa-link fa-2x white-black mr-2" aria-hidden="true"></i></a>
                                                                  <a placement="bottom" ngbTooltip="Edit Slot" (click)="open(content)"><i class="fa fa-edit fa-2x white-black mr-2" aria-hidden="true"></i></a>
                                                                  <ng-template #content let-c="close" let-d="dismiss">
                                                                          <div class="modal-header">
                                                                             <h4 class="modal-title">Edit Slot {{i}}</h4>
                                                                             <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                                                             <span aria-hidden="true">&times;</span>
                                                                             </button>
                                                                          </div>
                                                                          <div class="modal-body">
                                                                             <div class="container">
                                                                                <div class="row">
                                                                                   <div class="col-12">
                                                                                      <!--Contact Form-->
                                                                                      <form>
                                                                                          <div class="md-form">
                                                                                            <i class="material-icons prefix">title</i>
                                                                                              <input type="text" id="form3" class="form-control" #newTitle mdbActive>
                                                                                              <label for="form3">Title</label>
                                                                                          </div>
                                                                                          <div class="md-form">
                                                                                            <i class="material-icons prefix">description</i>
                                                                                              <textarea type="text" id="form8" class="md-textarea" style="height: 100px" #newDescription mdbActive></textarea>
                                                                                              <label for="form8">description</label>
                                                                                          </div>

                                                                                          <div class="md-form">
                                                                                            <i class="material-icons prefix">link</i>
                                                                                              <input type="text" id="form2" class="form-control" #newUrl mdbActive>
                                                                                              <label for="form2">URL</label>
                                                                                          </div>

                                                                                          <div class="text-center">
                                                                                             <div class="row">
                                                                                                <div class="col-6">
                                                                                                   <button class="btn btn-deep-orange waves-light" (click)="updateTeacherSchedule(Slot,newTitle.value,newDescription.value,newUrl.value,'saturday')" mdbRippleRadius>Done</button>
                                                                                                </div>
                                                                                                <div class="col-6">
                                                                                                   <button type="button" class="btn btn-blue-grey waves-light" (click)="c('Close click')" mdbRippleRadius> Close</button>
                                                                                                </div>
                                                                                             </div>
                                                                                          </div>
                                                                                      </form>
                                                                                      <!--Contact Form-->
                                                                                   </div>
                                                                                </div>
                                                                             </div>
                                                                          </div>
                                                                       </ng-template>
                                                               </div>
                                                            </div>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                   <!--Table body-->
                                                </table>
                                                <!--Table-->
                                             </div>
                                          </div>
                                       </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="Sunday">
                                       <ng-template ngbTabContent>
                                          <div class="row mt-3">
                                             <div class="col-12">
                                                <!--Table-->
                                                <table class="table border-primary table-hover">
                                                   <!--Table body-->
                                                   <tbody>
                                                      <tr *ngFor="let Slot of sun ; let i = index">
                                                         <th class="table-nawwar">
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <h3>Slot {{i+1}}</h3>
                                                               </div>
                                                            </div>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <p>00:00AM</p>
                                                               </div>
                                                            </div>
                                                         </th>
                                                         <td>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <h3>{{Slot.slot.title}}</h3>
                                                               </div>
                                                            </div>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <p>{{Slot.slot.description}}</p>
                                                               </div>
                                                            </div>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <a href="#" placement="bottom" ngbTooltip="Go to URL"><i class="fa fa-link fa-2x white-black mr-2" aria-hidden="true"></i></a>
                                                                  <a href="#" placement="bottom" ngbTooltip="Edit Slot"><i class="fa fa-edit fa-2x white-black mr-2" aria-hidden="true"></i></a>
                                                               </div>
                                                            </div>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                   <!--Table body-->
                                                </table>
                                                <!--Table-->
                                             </div>
                                          </div>
                                       </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="Monday">
                                       <ng-template ngbTabContent>
                                          <div class="row mt-3">
                                             <div class="col-12">
                                                <!--Table-->
                                                <table class="table border-primary table-hover">
                                                   <!--Table body-->
                                                   <tbody>
                                                      <tr *ngFor="let Slot of mon ; let i = index">
                                                         <th class="table-nawwar">
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <h3>Slot {{i+1}}</h3>
                                                               </div>
                                                            </div>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <p>00:00AM</p>
                                                               </div>
                                                            </div>
                                                         </th>
                                                         <td>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <h3>{{Slot.slot.title}}</h3>
                                                               </div>
                                                            </div>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <p>{{Slot.slot.description}}</p>
                                                               </div>
                                                            </div>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <a href="#" placement="bottom" ngbTooltip="Go to URL"><i class="fa fa-link fa-2x white-black mr-2" aria-hidden="true"></i></a>
                                                                  <a href="#" placement="bottom" ngbTooltip="Edit Slot"><i class="fa fa-edit fa-2x white-black mr-2" aria-hidden="true"></i></a>
                                                               </div>
                                                            </div>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                   <!--Table body-->
                                                </table>
                                                <!--Table-->
                                             </div>
                                          </div>
                                       </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="Tuesday">
                                       <ng-template ngbTabContent>
                                          <div class="row mt-3">
                                             <div class="col-12">
                                                <!--Table-->
                                                <table class="table border-primary table-hover">
                                                   <!--Table body-->
                                                   <tbody>
                                                      <tr *ngFor="let Slot of tues ; let i = index">
                                                         <th class="table-nawwar">
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <h3>Slot {{i+1}}</h3>
                                                               </div>
                                                            </div>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <p>00:00AM</p>
                                                               </div>
                                                            </div>
                                                         </th>
                                                         <td>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <h3>{{Slot.slot.title}}</h3>
                                                               </div>
                                                            </div>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <p>{{Slot.slot.description}}</p>
                                                               </div>
                                                            </div>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <a href="#" placement="bottom" ngbTooltip="Go to URL"><i class="fa fa-link fa-2x white-black mr-2" aria-hidden="true"></i></a>
                                                                  <a href="#" placement="bottom" ngbTooltip="Edit Slot"><i class="fa fa-edit fa-2x white-black mr-2" aria-hidden="true"></i></a>
                                                               </div>
                                                            </div>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                   <!--Table body-->
                                                </table>
                                                <!--Table-->
                                             </div>
                                          </div>
                                       </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="Wednesday">
                                       <ng-template ngbTabContent>
                                          <div class="row mt-3">
                                             <div class="col-12">
                                                <!--Table-->
                                                <table class="table border-primary table-hover">
                                                   <!--Table body-->
                                                   <tbody>
                                                      <tr *ngFor="let Slot of wed ; let i = index">
                                                         <th class="table-nawwar">
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <h3>Slot {{i+1}}</h3>
                                                               </div>
                                                            </div>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <p>00:00AM</p>
                                                               </div>
                                                            </div>
                                                         </th>
                                                         <td>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <h3>{{Slot.slot.title}}</h3>
                                                               </div>
                                                            </div>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <p>{{Slot.slot.description}}</p>
                                                               </div>
                                                            </div>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <a href="#" placement="bottom" ngbTooltip="Go to URL"><i class="fa fa-link fa-2x white-black mr-2" aria-hidden="true"></i></a>
                                                                  <a href="#" placement="bottom" ngbTooltip="Edit Slot"><i class="fa fa-edit fa-2x white-black mr-2" aria-hidden="true"></i></a>
                                                               </div>
                                                            </div>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                   <!--Table body-->
                                                </table>
                                                <!--Table-->
                                             </div>
                                          </div>
                                       </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="Thursday">
                                       <ng-template ngbTabContent>
                                          <div class="row mt-3">
                                             <div class="col-12">
                                                <!--Table-->
                                                <table class="table border-primary table-hover">
                                                   <!--Table body-->
                                                   <tbody>
                                                      <tr *ngFor="let Slot of thurs ; let i = index">
                                                         <th class="table-nawwar">
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <h3>Slot {{i+1}}</h3>
                                                               </div>
                                                            </div>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <p>00:00AM</p>
                                                               </div>
                                                            </div>
                                                         </th>
                                                         <td>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <h3>{{Slot.slot.title}}</h3>
                                                               </div>
                                                            </div>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <p>{{Slot.slot.description}}</p>
                                                               </div>
                                                            </div>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <a href="#" placement="bottom" ngbTooltip="Go to URL"><i class="fa fa-link fa-2x white-black mr-2" aria-hidden="true"></i></a>
                                                                  <a href="#" placement="bottom" ngbTooltip="Edit Slot"><i class="fa fa-edit fa-2x white-black mr-2" aria-hidden="true"></i></a>
                                                               </div>
                                                            </div>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                   <!--Table body-->
                                                </table>
                                                <!--Table-->
                                             </div>
                                          </div>
                                       </ng-template>
                                    </ngb-tab>
                                    <ngb-tab title="Friday">
                                       <ng-template ngbTabContent>
                                          <div class="row mt-3">
                                             <div class="col-12">
                                                <!--Table-->
                                                <table class="table border-primary table-hover">
                                                   <!--Table body-->
                                                   <tbody>
                                                      <tr *ngFor="let Slot of fri ; let i = index">
                                                         <th class="table-nawwar">
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <h3>Slot {{i+1}}</h3>
                                                               </div>
                                                            </div>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <p>00:00AM</p>
                                                               </div>
                                                            </div>
                                                         </th>
                                                         <td>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <h3>{{Slot.slot.title}}</h3>
                                                               </div>
                                                            </div>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <p>{{Slot.slot.description}}</p>
                                                               </div>
                                                            </div>
                                                            <div class="row text-center">
                                                               <div class="col-12">
                                                                  <a href="#" placement="bottom" ngbTooltip="Go to URL"><i class="fa fa-link fa-2x white-black mr-2" aria-hidden="true"></i></a>
                                                                  <a href="#" placement="bottom" ngbTooltip="Edit Slot"><i class="fa fa-edit fa-2x white-black mr-2" aria-hidden="true"></i></a>
                                                               </div>
                                                            </div>
                                                         </td>
                                                      </tr>
                                                   </tbody>
                                                   <!--Table body-->
                                                </table>
                                                <!--Table-->
                                             </div>
                                          </div>
                                       </ng-template>
                                    </ngb-tab>
                                 </ngb-tabset>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </ng-template>
            </ngb-tab>
            <ngb-tab title="Tasks">
               <ng-template ngbTabContent>
                  <div class="container">
                     <div class="row mt-3">
                        <div class="col-lg-3 col-md-4 col-sm-6">
                           <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                              <div class="card-header">task assigned to</div>
                              <div class="card-body">
                                 <h5 class="card-title">Task title</h5>
                                 <p class="card-text white-text">Task short description.</p>
                              </div>
                              <div class="card-footer">
                                 <div class="icon pull-right">
                                    <a href="#" placement="bottom" ngbTooltip="Task"><i class="fa fa-tasks fa-2x white-text mr-2" aria-hidden="true"></i></a>
                                    <a href="#" placement="bottom" ngbTooltip="Remove"><i class="fa fa-ban fa-2x white-text" aria-hidden="true"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                           <div class="card text-white bg-secondry black-text mb-3" style="max-width: 18rem;">
                              <div class="card-header">task assigned to</div>
                              <div class="card-body">
                                 <h5 class="card-title">Task title</h5>
                                 <p class="card-text ">Task short description.</p>
                              </div>
                              <div class="card-footer">
                                 <div class="icon pull-right">
                                    <a href="#" placement="bottom" ngbTooltip="Task"><i class="fa fa-tasks fa-2x black-text  mr-2" aria-hidden="true"></i></a>
                                    <a href="#" placement="bottom" ngbTooltip="Remove"><i class="fa fa-ban fa-2x black-text" aria-hidden="true"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                           <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                              <div class="card-header">task assigned to</div>
                              <div class="card-body">
                                 <h5 class="card-title">Task title</h5>
                                 <p class="card-text white-text">Task short description.</p>
                              </div>
                              <div class="card-footer">
                                 <div class="icon pull-right">
                                    <a href="#" placement="bottom" ngbTooltip="Task"><i class="fa fa-tasks fa-2x white-text mr-2" aria-hidden="true"></i></a>
                                    <a href="#" placement="bottom" ngbTooltip="Remove"><i class="fa fa-ban fa-2x white-text" aria-hidden="true"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                           <div class="card text-white bg-danger  mb-3" style="max-width: 18rem;">
                              <div class="card-header">task assigned to</div>
                              <div class="card-body">
                                 <h5 class="card-title">Task title</h5>
                                 <p class="card-text white-text">Task short description.</p>
                              </div>
                              <div class="card-footer">
                                 <div class="icon pull-right">
                                    <a href="#" placement="bottom" ngbTooltip="Task"><i class="fa fa-tasks fa-2x white-text mr-2" aria-hidden="true"></i></a>
                                    <a href="#" placement="bottom" ngbTooltip="Remove"><i class="fa fa-ban fa-2x white-text" aria-hidden="true"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                           <div class="card text-white bg-warning  mb-3" style="max-width: 18rem;">
                              <div class="card-header">task assigned to</div>
                              <div class="card-body">
                                 <h5 class="card-title">Task title</h5>
                                 <p class="card-text white-text">Task short description.</p>
                              </div>
                              <div class="card-footer">
                                 <div class="icon pull-right">
                                    <a href="#" placement="bottom" ngbTooltip="Task"><i class="fa fa-tasks fa-2x white-text mr-2" aria-hidden="true"></i></a>
                                    <a href="#" placement="bottom" ngbTooltip="Remove"><i class="fa fa-ban fa-2x white-text" aria-hidden="true"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                           <div class="card text-white bg-info  mb-3" style="max-width: 18rem;">
                              <div class="card-header">task assigned to</div>
                              <div class="card-body">
                                 <h5 class="card-title">Task title</h5>
                                 <p class="card-text white-text">Task short description.</p>
                              </div>
                              <div class="card-footer">
                                 <div class="icon pull-right">
                                    <a href="#" placement="bottom" ngbTooltip="Task"><i class="fa fa-tasks fa-2x white-text mr-2" aria-hidden="true"></i></a>
                                    <a href="#" placement="bottom" ngbTooltip="Remove"><i class="fa fa-ban fa-2x white-text" aria-hidden="true"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                           <div class="card text-white bg-dark  mb-3" style="max-width: 18rem;">
                              <div class="card-header">task assigned to</div>
                              <div class="card-body">
                                 <h5 class="card-title">Task title</h5>
                                 <p class="card-text white-text">Task short description.</p>
                              </div>
                              <div class="card-footer">
                                 <div class="icon pull-right">
                                    <a href="#" placement="bottom" ngbTooltip="Task"><i class="fa fa-tasks fa-2x white-text mr-2" aria-hidden="true"></i></a>
                                    <a href="#" placement="bottom" ngbTooltip="Remove"><i class="fa fa-ban fa-2x white-text" aria-hidden="true"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                           <div class="card text-white bg-light black-text mb-3" style="max-width: 18rem;">
                              <div class="card-header">task assigned to</div>
                              <div class="card-body">
                                 <h5 class="card-title">Task title</h5>
                                 <p class="card-text">Task short description.</p>
                              </div>
                              <div class="card-footer">
                                 <div class="icon pull-right">
                                    <a href="#" placement="bottom" ngbTooltip="Task"><i class="fa fa-tasks fa-2x black-text  mr-2" aria-hidden="true"></i></a>
                                    <a href="#" placement="bottom" ngbTooltip="Remove"><i class="fa fa-ban fa-2x black-text" aria-hidden="true"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </ng-template>
            </ngb-tab>
            <ngb-tab title="Students">
               <ng-template ngbTabContent>
                  <div class="container">
                     <div class="row mt-2">
                        <div class="col-12">
                           <button type="button" class="btn btn-dark-green waves-light float-right" mdbRippleRadius>Create Task</button>
                        </div>
                     </div>
                     <div class="row mt-3">
                        <div class="col-lg-3 col-md-4 col-sm-6 myCard">
                           <div class="card">
                              <img class="card-img-top rounded-circle mt-2" src="https://www.lacartedescolocs.fr/assets/fallbacks/profile_woman_medium_fallback-a7f0361efd57b6d193bef198dacdaaf2a0ac1aa17f23cd9613540c05f2c6bac6.png">
                              <div class="card-block">
                                 <h4 class="card-title mt-3 grey-text">Student name</h4>
                              </div>
                              <div class="card-footer">
                                 <div class="icon pull-right">
                                    <a href="#" placement="bottom" ngbTooltip="Profile"><i class="fa fa-user fa-2x" aria-hidden="true"></i></a>
                                    <a href="#" placement="bottom" ngbTooltip="Messages"><i class="fa fa-envelope fa-fw fa-2x" aria-hidden="true"></i></a>
                                    <a href="#" placement="bottom" ngbTooltip="Remove"><i class="fa fa-ban fa-2x" aria-hidden="true"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 myCard">
                           <div class="card">
                              <img class="card-img-top rounded-circle mt-2" src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg">
                              <div class="card-block">
                                 <h4 class="card-title mt-3 grey-text">Student name</h4>
                              </div>
                              <div class="card-footer">
                                 <div class="icon pull-right">
                                    <a href="#" placement="bottom" ngbTooltip="Profile"><i class="fa fa-user fa-2x" aria-hidden="true"></i></a>
                                    <a href="#" placement="bottom" ngbTooltip="Messages"><i class="fa fa-envelope fa-fw fa-2x" aria-hidden="true"></i></a>
                                    <a href="#" placement="bottom" ngbTooltip="Remove"><i class="fa fa-ban fa-2x" aria-hidden="true"></i></a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </ng-template>
            </ngb-tab>
         </ngb-tabset>
      </div>
   </div>
   <!--/.Card content-->
</div>
<!--/.Card-->
