<div [@routerTransition]>
<div class="container">

<ngb-tabset>
  <ngb-tab title="Registration">
    <ng-template ngbTabContent>
        <br>
<div class="row">
  <div class="col-lg-4 col-md-4" *ngFor="let teacher of Teachers">
    <div class="card text-center">
      <div class="card-header" style="background-color:#ffc335;">
        Name: <br>{{ teacher.name.firstName+" "+teacher.name.lastName}}
      </div>
      <div>
        {{ teacher.about }}
        {{ teacher.qualifications +"\n"}} <br>
        {{ teacher.fees | currency}}
        {{ teacher.address }}
      </div>

      Joined At: <strong>{{ teacher.joinedAt | date}}</strong>

      <div class="card-footer text-muted">
        <button class="badge badge-pill btn-success" style="cursor: pointer;">VERIFY</button>
        <!--to do reject-->
        <span><button class="badge badge-pill btn-danger" style="cursor: pointer;" >REJECT</button></span>
      </div>

    </div>
  </div>
</div>
<br>


    </ng-template>
  </ngb-tab>
  <ngb-tab title="Verification" >
    <ng-template ngbTabContent>
        <br>
<div class="row">
  <div class="col-lg-4 col-md-4" *ngFor="let teacher of Teachers">
    <div class="card text-center">
      <div class="card-header">
        Name: <br>{{ teacher.name.firstName+" "+teacher.name.lastName}}
      </div>
      <div>
        {{ teacher.about }}
        {{ teacher.qualifications +"\n"}} <br>
        {{ teacher.fees | currency}}
        {{ teacher.address }}
      </div>

      Joined At: <strong>{{ teacher.joinedAt | date}}</strong>



    </div>
  </div>
</div>
<br>


    </ng-template>
  </ngb-tab>
</ngb-tabset>
</div>
</div>
