<div [@routerTransition]>
<div class="row">
  <div class="col-md-6" *ngFor="let teacher of Teachers">
          
     <!--Card-->
     <div class="card testimonial-card">

        <!--Bacground color-->
        <div class="card-up indigo lighten-1">
        </div>

        <!--Avatar-->
        <div class="avatar">
            <img *ngIf="teacher.photo" src="http://localhost:3000/api/uploads/store/{{teacher.photo}}" class="rounded-circle">
            <img *ngIf="!teacher.photo" src="assets/user.png" class="irounded-circle">
        </div>

        <div class="card-body">
            <!--Name-->
            <h4 class="card-title">{{teacher.name.firstName+" "+teacher.name.lastName}}</h4>
            <hr>
            <!--Quotation-->
            <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, adipisci</p>
        </div>

    </div>
    

      <div class="card-footer text-muted">
        <button class="btn btn-success " (click)="Accept(teacher._id)">Verify</button>
      </div>

  </div>
  </div>
</div>
