<div class="divider" style="padding-top:50px;"></div>
<div class="container">
  <div class="myContainer">
    <div class="card card-signup">
      <div class="card-body">
        <p class="h5 text-center mb-4">Password reset - Please enter your new password</p>
        <div class="md-form">
          <i class="material-icons prefix">lock</i>
          <input class="form-control" type="text" [(ngModel)]="password" mdbActive required>
          <br>
          <label>New password</label>
        </div>
        <div class="md-form">
          <i class="material-icons prefix">lock</i>
          <input class="form-control" type="text" [(ngModel)]="passwordConfirm" mdbActive required>
          <br>
          <label>Confirm password</label>
        </div>
        <div class="text-center">
          <button (click)="submit()" class="btn btn-success waves-light" mdbRippleRadius>Submit new password</button>
        </div>
      </div>
    </div>
  </div>
</div>