<div class="card myCardSize">


  <form>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Title" name="name" [(ngModel)]="name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Item type" name="item_type" [(ngModel)]="item_type">
      </div>
    </div>

    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Price" name="quantity" type="number" [(ngModel)]="quantity">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Quantity" name="price" type="number" [(ngModel)]="price">
      </div>
    </div>

    <div class="form-group">
      <textarea type="text" class="form-control" placeholder="Description" style="height: 100px; padding: 5px;" name="description" [(ngModel)]="description"></textarea>
    </div>

    <div class="row">
      <div class="col">
        <label>Item condition:</label>
        <select multiple class="form-control" name="item_condition" [(ngModel)]="item_condition" id="select">
              <option value="Poor">Poor</option>
              <option value="Fair">Fair</option>
              <option value="Good">Good</option>
              <option value="Brand New">Brand New</option>
      </select>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <image-upload [headers]="{authorization: token}" [max]="1" [url]="'http://127.0.0.1:3000/api/store/upload'" [dropBoxMessage]="'Drop your image here!'" [buttonCaption]="'Upload an Image'" [style]="customStyle" (uploadFinished)="onUploadFinished($event)"
          mdbInputDirective>
        </image-upload>
      </div>
    </div>

    <div class="text-center">
      <button class="btn btn-unique waves-light" (click)="onSubmit()" mdbWavesEffect>Create</button>
    </div>




  </form>


</div>
