<div class="container" *ngIf="activitiesInitialized">
  <input class="text-center" type="text" [(ngModel)]="keyword" placeholder="Search through the titles">

  <ng-container *ngFor="let activity of activities | filter: keyword | paginate: { itemsPerPage: 4, currentPage: p };let i = index">
    <div class="row mt-3 wow fadeIn">

      <!--Image thumbnail-->
      <div class="col-lg-5 col-xl-4 mb-4">
        <!--Featured image-->
        <div class="view overlay rounded z-depth-1">
          <img [src]="IMG_URL + activity.picture_url" onError="this.src='../../../../assets/images/fallbacks/resources.jpg'" class="img-thumbnail"
            alt="activity-thumbnail" />
          <a style="cursor: pointer;" [routerLink]="['/event','view',activity._id]">
            <div class="mask"></div>
          </a>
        </div>
      </div>
      <!--Image thumbnail-->

      <!--Actual content-->
      <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
        <br>
        <h3 class="mb-3 font-weight-bold dark-grey-text">
          <a style="cursor: pointer;" [routerLink]="['/event','view',activity._id]">
            <strong>{{activity.name}}</strong>
          </a>
        </h3>
        <p>
          <em *ngIf="!activity.activity_type">No type defined for this activity</em>
          <span *ngIf="activity.activity_type">Type: {{activity.activity_type}}</span>
        </p>
        <br>
        <a role="button" (click)="remove(activity._id)" class="pull-right pull-bottom">
          <i class="fa fa-trash fa-2x"></i>
        </a>
      </div>
      <!--Actual content-->
    </div>
    <hr class="mb-5">
  </ng-container>
</div>