<!-- Page Header -->
<header class="masthead" style="background-image: url('https://trynawwar.herokuapp.com/assets/img/kit/free/landing.png')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Educational Resources</h1>
          <span class="subheading">Get your learning on!</span>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <a class="btn btn-success btn-block" [routerLink]="['post']">Post new article</a>
  <hr>
  <div class="row" *ngIf="isInitialized">
    <div class="col-lg-8 col-md-10 mx-auto">
      <!--TODO: change itemsPerPage, it was just set 1 for testing. Also, we can handle it in the backend-->
      <ng-container *ngFor="let article of articles | paginate: { itemsPerPage: 4, currentPage: p };let i = index">
        <div class="post-preview">
          <a style="cursor: pointer;" [routerLink]="['id',article._id]">
            <h2 class="post-title">
              {{article.title}}
            </h2>
            <h3 class="post-subtitle">
              TODO: ADD SOME SORT OF PREVIEW (Tags and ratings maybe?)
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a style="cursor: pointer;" [routerLink]="['/profile',article.owner_id._id]">{{article.owner_id.name.firstName}} {{article.owner_id.name.lastName}}</a>
            on {{article.createdAt | date}}</p>
        </div>
        <hr>
      </ng-container>
      <!-- Pager -->
      <div class="clearfix">
        <!-- TODO: Something about pagination .. back& frontend :( -->
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        <!--<a style="cursor: pointer;" class="btn btn-primary float-right">Older Posts &rarr;</a>-->
      </div>
    </div>
  </div>
</div>