
<h2>
    Tasks:
  </h2>

  <table style="display: inline-block;">
    <tr>
      <th>Title</th>
    </tr>

    <tr >
      <td > {{ title }}</td>
    </tr>

  </table>
  <table style="display: inline-block;">
      <tr>
        <th>Description</th>
      </tr>
      <tr >
          <td> {{ description }}</td>
      </tr>
    </table>
    <table style="display: inline-block;">
        <tr>
          <th>Created At</th>
        </tr>
        <tr >
            <td> {{ createdAt }}</td>
        </tr>
      </table>
      <table style="display: inline-block;">
          <tr>
            <th>Updated At</th>
          </tr>
          <tr>
              <td> {{ updatedAt }}</td>
          </tr>
        </table>
