<div class="page-header header-filter" data-parallax="true" style=" background-image: url('../../../assets/nawwarBG.jpg'); ">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="title">Nawwar Educational Platform</h1>
        <h4>Your Ultimate Source of Learning</h4>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">

        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Nawwar</h2>
            <h4 class="description">is a collaborative educational platform that will help
              <strong>parents</strong>
              who are
              <em>
                <strong>homeschooling</strong>
              </em> their
              <strong>children</strong> to find the best educational resources for their children, book different cultural and recreational
              activities, get connected with teachers, exchange educational games or gadgets or books with other kids, manage
              their children’s schedule and many other functionalities.</h4>
          </div>
        </div>

        <div class="features">
          <div class="row">
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-info">
                  <img src="../../../assets/icons/3.png" style="width: 100px; height: 75px;">
                </div>
                <h4 class="info-title">Share your experience</h4>
                <p>Leave your feedback and your questions and contribute to the community with your knowledge and help others
                  out in what you're passionate about.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-success">
                  <img src="../../../assets/icons/4.png" style="width: 100px; height: 75px;">
                </div>
                <h4 class="info-title">Tasks</h4>
                <p>Assign tasks to your students and children, and watch as they progress through them.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-danger">
                  <img src="../../../assets/icons/9.png" style="width: 100px; height: 75px;">
                </div>
                <h4 class="info-title">Resources</h4>
                <p>Access unlimited educational resources in every field. Ranging from written articles, to animated videos
                  and much more.</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="section text-center">
        <h2 class="title">Team</h2>
        <div class="team">
          <div class="row">
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="../../../assets/team/nada.png" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Nada Donia
                    <br>
                    <small class="card-description text-muted">CO-Founder</small>
                  </h4>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="../../../assets/team/hager.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Hager Yasser
                    <br>
                    <small class="card-description text-muted">CO-Founder</small>
                  </h4>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="../../../assets/team/israa.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Israa Ali
                    <br>
                    <small class="card-description text-muted">CO-Founder</small>
                  </h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="section section-contacts">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="text-center title">Contact Us</h2>
            <h4 class="text-center description">Do you have any information to share with us ? Feedback, complains, or suggestions. Everything is welcome ! Don't
              hesitate to contact us</h4>
            <form class="contact-form">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Your Name</label>
                    <input [(ngModel)]="contactName" name="contactName" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Your Email</label>
                    <input [(ngModel)]="contactEmail" name="emailContact" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleMessage" class="bmd-label-floating">Your Message</label>
                <textarea [(ngModel)]="contactMessage" class="form-control" rows="4" name="message" id="exampleMessage"></textarea>
              </div>
              <div class="row">
                <div class="col-md-4 ml-auto mr-auto text-center">
                  <button (click)="submitContactForm()" class="btn btn-primary btn-raised">
                    Send Message
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>