<div class="page-header header-filter" data-parallax="true" style=" background-image: url('../../../../../assets/nawwarBG.png'); ">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="title">Nawwar Educational Platform</h1>
        <h4>Your Ultimate Source of Learning</h4>
        <br>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">

        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Nawwar</h2>
            <h4 class="description">is a collaborative educational platform that will help
              <strong>parents</strong>
              who are
              <em>
                <strong>homeschooling</strong>
              </em> their
              <strong>children</strong> to find the best educational resources for their children, book different cultural and recreational
              activities, get connected with teachers, exchange educational games or gadgets or books with other kids, manage
              their children’s schedule and many other functionalities.</h4>
          </div>
        </div>

        <div class="features">
          <div class="row">
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-info">
                  <img src="../../../assets/icons/3.png" style="width: 100px; height: 75px;">
                </div>
                <h4 class="info-title">Articles</h4>
                <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph
                  describing a feature will be enough.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-success">
                  <img src="../../../assets/icons/4.png" style="width: 100px; height: 75px;">
                </div>
                <h4 class="info-title">Tasks</h4>
                <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph
                  describing a feature will be enough.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-danger">
                  <img src="../../../assets/icons/9.png" style="width: 100px; height: 75px;">
                </div>
                <h4 class="info-title">watch & learn</h4>
                <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph
                  describing a feature will be enough.</p>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="section text-center">
        <h2 class="title">Team</h2>
        <div class="team">
          <div class="row">
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="../../../assets/team/nada.png" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Nada Donia
                    <br>
                    <small class="card-description text-muted">CO-Founder</small>
                  </h4>
                  <div class="card-body">
                    <p class="card-description">You can write here details about one of your team members. You can give more details about what they
                      do. Feel free to add some
                      <a href="#">links</a> for people to be able to follow them outside the site.</p>
                  </div>
                  <div class="card-footer justify-content-center">
                    <a href="https://www.facebook.com/nada.donia" class="btn btn-link btn-just-icon">
                      <i class="fa fa-facebook-square"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="../../../assets/team/hager.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Hager Yasser
                    <br>
                    <small class="card-description text-muted">CO-Founder</small>
                  </h4>
                  <div class="card-body">
                    <p class="card-description">You can write here details about one of your team members. You can give more details about what they
                      do. Feel free to add some
                      <a href="#">links</a> for people to be able to follow them outside the site.</p>
                  </div>
                  <div class="card-footer justify-content-center">
                    <a href="https://www.facebook.com/hagar.y.omar" class="btn btn-link btn-just-icon">
                      <i class="fa fa-facebook-square"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="../../../assets/team/israa.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Israa Ali
                    <br>
                    <small class="card-description text-muted">CO-Founder</small>
                  </h4>
                  <div class="card-body">
                    <p class="card-description">You can write here details about one of your team members. You can give more details about what they
                      do. Feel free to add some
                      <a href="#">links</a> for people to be able to follow them outside the site.</p>
                  </div>
                  <div class="card-footer justify-content-center">
                    <a href="https://www.facebook.com/profile.php?id=100004676860728" class="btn btn-link btn-just-icon">
                      <i class="fa fa-facebook-square"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="section section-contacts">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="text-center title">Contact Us</h2>
            <h4 class="text-center description">Divide details about your product or agency work into parts. Write a few lines about each one and contact us
              about any further collaboration. We will responde get back to you in a couple of hours.</h4>
            <form class="contact-form">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Your Name</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Your Email</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleMessage" class="bmd-label-floating">Your Message</label>
                <textarea type="email" class="form-control" rows="4" id="exampleMessage"></textarea>
              </div>
              <div class="row">
                <div class="col-md-4 ml-auto mr-auto text-center">
                  <button class="btn btn-primary btn-raised">
                    Send Message
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>