<!-- The content below is only a placeholder and can be replaced.
<ul>
  <a routerLink="">Home</a>
</ul>

<router-outlet></router-outlet> -->


<!-- <nav class="navbar navbar-dark bg-dark">

  <a [routerLink]="['/components']">homepage</a>
  <a [routerLink]="['/cschedule']">cschedule</a>
  <a [routerLink]="['/post']">post</a> -->
<!-- <a [routerLink]="['/store']">cschedule</a> -->
<!-- <a [routerLink]="['/task']">task</a>
  <a [routerLink]="['/tschedule']">tschedule</a>
</nav> -->


<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
    true}">Lamba</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/cschedule']">CS_Schedule</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/resources']">Educational Resources</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/task']">Tasks</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" [routerLink]="['/tschedule']">T_Schedule</a>
    </li>
  </ul>

  <!-- TODO: Ma3rafsh routings el profile ? -->
  <ul class="navbar-nav mr-right">
    <li routerLinkActive="active">
      <a class="nav-link" *ngIf="!this.authService.isLoggedIn()" [routerLink]="['/login']">Login</a>
    </li>
    <li routerLinkActive="active">
      <a class="nav-link" *ngIf="this.authService.isLoggedIn()" [routerLink]="['/profile']">Profile</a>
    </li>

    <li routerLinkActive="active">
      <a class="nav-link" *ngIf="!this.authService.isLoggedIn()" [routerLink]="['/register']">Sign Up</a>
    </li>

    <li routerLinkActive="active">
      <a class="nav-link" *ngIf="this.authService.isLoggedIn()" (click)="this.authService.logout()" [routerLink]="['/login']">Logout</a>
    </li>
  </ul>
</nav>
<br>
<div class="container">
  <router-outlet></router-outlet>
</div>