<nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top  navbar-expand-lg " color-on-scroll="100" id="sectionsNav">
    <div class="container">

        <div class="navbar-translate">
            <a class="navbar-brand" href="../index.html">
                <!-- TODO -->
                <!--<img src="../assets/img/kit/free/favicon.png" style="width: 50px; height: 50px; border-radius: 50%;">-->
                Nawwar
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
                        <i class="fa fa-user-plus"></i> Sign Up
                    </a>
                </li>


                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
                        <i class="fa fa-sign-in"></i> Login
                    </a>
                </li>

                <!-- <li class="nav-item">
                        <a href="#pablo" class="btn btn-primary btn-round">Sign Up</a>
                </li>
                <li class="nav-item">
                        <a href="#pablo" class="btn btn-primary btn-round">Login</a>
                </li> -->

                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/Project.Nawwar/" target="_blank" data-original-title="Like us on Facebook">
                        <i class="fa fa-facebook-square"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.youtube.com/user/ProjectNawwar" target="_blank" data-original-title="Subscribe to our Channel">
                        <i class="fa fa-youtube"></i>
                    </a>
                </li>

            </ul>

        </div>
    </div>
</nav>



  <router-outlet>
  </router-outlet>



  <footer class="footer ">
      <div class="container">
          <nav class="pull-left">
              <ul>
                  <li>
                      <a href="">
                          Lamba Team
                      </a>
                  </li>
                  <li>
                      <a href="">
                          About Us
                      </a>
                  </li>
                  <li>
                      <a href="">
                          Blog
                      </a>
                  </li>
              </ul>
          </nav>
          <div class="copyright pull-right">
              &copy;
              <script>
                  document.write(new Date().getFullYear())
              </script>, made with <i class="material-icons">favorite</i> by
              <a href="" target="_blank">Lamba</a> for a better web.
          </div>
      </div>
  </footer>
