<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="container">
  <!------ Include the above in your HEAD tag ---------->
  <nav class="main main-raised" role="navigation">
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="row">
      <div class="col-md-2 col-xs-1">
        <ul class="nav navbar-nav">
          <li class="active"><a mdbRippleRadius [routerLink]="['/event/view']" *ngIf="isLoggedIn()"><span
            class="glyphicon  glyphicon-road"></span> Activities<span style="font-size:16px;"
                                                                         class="pull-right hidden-xs showopacity"></span></a>
          </li>
          <li><a mdbRippleRadius [routerLink]="['/event/myactivities/view']" *ngIf="isLoggedIn()"><span
            class="glyphicon glyphicon-home"></span> My Activities<span style="font-size:16px;"
                                                                             class="pull-right hidden-xs showopacity"></span></a>
          </li>
          <li><a mdbRippleRadius [routerLink]="['/event/myactivities/create']" *ngIf="isLoggedIn()"><span
            class="glyphicon glyphicon-list-alt"></span> Add Activity<span style="font-size:16px;"
                                                                       class="pull-right hidden-xs showopacity"></span></a>
          </li>
        </ul>
      </div>

      <div class="col-md-10 col-xs-11">
        <router-outlet></router-outlet>
      </div>
    </div>
  </nav>
</div>




