<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section>
  <div class="main-container">
    <div class="block">

      <div class='item' *ngFor='let item of items'>
        <img src="http://127.0.0.1:3000/api/uploads/store/{{item['picture_url']}}" class="imgw100prec">
        <div class="itemBody">

          <h2 class="itemName"><b>{{item['name']}}</b></h2>
          <!-- For now I'm using the quantity attribute as the like counter
              But we're going to need to change it
          -->
          <div class="itemLikeCount">{{item['quantity']}} <span class="fa fa-heart"></span></div>
          <div class="itemPrice">Price: {{item['price']}} LE</div>
          <article class="itemDesc">{{item['description']}}</article>

          <!-- TODO check if user already liked this item -->
          <div class="itemUnLike"><i class="fa fa-heart"></i></div>

        </div>

      </div>
    </div>
  </div>
</section>
