<div class="divider" style="padding-top:50px;"></div>
<div class="container">
  <div class="myContainer">
    <div class="card card-signup">
      <div class="card-body">
        <p class="h5 text-center mb-4">Request a password reset</p>
        <div class="md-form">
          <i class="material-icons prefix">email</i>
          <input class="form-control" type="text" [(ngModel)]="email" mdbActive required>
          <br>
          <label>Your email</label>
        </div>
        <div class="text-center">
          <button (click)="submit()" class="btn btn-info waves-light" mdbRippleRadius>Reset password</button>
        </div>
      </div>
    </div>
  </div>
</div>