<form (submit)="CreateNewComment()">



  <h2>New Task</h2>


  <input type="text" class="form-control" [(ngModel)]="taskname" name="taskname">
  <input type="text" class="form-control" [(ngModel)]="description" name="description">

  <button (click) = "CreateNewTask()">New Task</button>






  <h2>New Comment</h2>


  <input type="text" class="form-control" [(ngModel)]="comment" name="comment">

  <button id="mybutton" type="submit">Submit</button>

</form>


<h2>View Comments</h2>


  <form (submit)="getComments()">
  <button id="mybutton" type="submit">getComments</button>
</form>


<table>
  <tr>
    <th>Name</th>
    <th>Comment</th>
  </tr>

  <tr *ngFor="let com of mycomment">
    <td>{{com.name}}</td>
    <td>{{com.Comment}}</td>
  </tr>
</table>
