<nav class="sidebar" type="button" [ngStyle]="{ 'width.em': sidenavWidth}" opened="true" (mouseenter)="increase()" (mouseleave)="decrease()"
  (click)="sidebarOnClick()">
  <div class="list-group">
    <br>

    <a routerLink="/" [routerLinkActive]="['router-link-active']" class="list-group-item" [routerLinkActiveOptions]="{exact: true}">
      <i class="fa fa-fw fa-home"></i>&nbsp;
      <span *ngIf="sidenavWidth > 6" class="sidenav-item">
        {{ 'Homepage' }}
      </span>
    </a>

    <a routerLink="/profile/admin/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-dashboard"></i>&nbsp;
      <span *ngIf="sidenavWidth > 6" class="sidenav-item">
        {{ 'Dashboard' }}
      </span>

    </a>
    <a [routerLink]="['/profile/admin/un-verified-articles']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-edit"></i>&nbsp;
      <span *ngIf="sidenavWidth > 6" class="sidenav-item">
        {{ 'Articles' }}
      </span>
    </a>
    <div class="nested-menu">
      <a class="list-group-item" (click)="addExpandClass('pages')">
        <i class="fa fa-fw fa-tags" aria-hidden="true"></i>&nbsp;
        <span *ngIf="sidenavWidth > 6" class="sidenav-item">
          {{ 'Tags'}}
        </span>
      </a>
      <li *ngIf="sidenavWidth > 6" class="nested" [class.expand]="showMenu === 'pages'">
        <ul class="submenu">
          <li>
            <a href="javascript:void(0)" (click)="openAddTagDialog()">
              <span>
                <i class="fa fa-fw fa-plus"></i>&nbsp;{{ 'Add Tags'}}</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)" (click)="openDeleteTagDialog()">
              <span>
                <i class="fa fa-fw fa-minus"></i>&nbsp;{{ 'Delete Tags' }}</span>
            </a>
          </li>
        </ul>
      </li>
    </div>
    <a [routerLink]="['/profile/admin/un-verified-activities']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-bicycle"></i>&nbsp;
      <span *ngIf="sidenavWidth > 6" class="sidenav-item">
        {{ 'Activities' }}
      </span>
    </a>
    <a routerLink="/profile/admin/verification-requests" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-question-circle-o"></i>&nbsp;
      <span *ngIf="sidenavWidth > 6" class="sidenav-item">
        {{ 'Interviews' }}
      </span>

    </a>
    <a routerLink="/profile/admin/verify-teachers" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-user-plus"></i>&nbsp;
      <span *ngIf="sidenavWidth > 6" class="sidenav-item">
        {{ 'Teachers' }}
      </span>

    </a>

    <a [routerLink]="['/profile/admin/add-admin']" [routerLinkActive]="['router-link-active']" class="list-group-item">
      <i class="fa fa-fw fa-users" aria-hidden="true"></i>&nbsp;
      <span *ngIf="sidenavWidth > 6" class="sidenav-item">
        {{ 'Admins' }}
      </span>
    </a>
  </div>
</nav>