<div class="container-fluid" *ngIf="tagsInitialized && articlesInitialized">

  <input class="text-center" type="text" [(ngModel)]="keyword" placeholder="Search through the titles">

  <ng-container *ngFor="let article of articles | filter: keyword |  paginate: { itemsPerPage: 4, currentPage: p };let i = index">
    <div class="row mt-3 wow fadeIn">

      <!--Image thumbnail-->
      <div class="col-lg-5 col-xl-4 mb-4">
        <!--Featured image-->
        <div class="view overlay rounded z-depth-1">
          <img [src]="IMG_URL + article.thumbnail_url" onError="this.src='../../../../assets/images/fallbacks/resources.jpg'" class="img-thumbnail"
            alt="Article-thumbnail" />
          <a style="cursor: pointer;" [routerLink]="['/resources','id',article._id]">
            <div class="mask"></div>
          </a>
        </div>
      </div>
      <!--Image thumbnail-->

      <!--Actual content-->
      <div class="col-lg-7 col-xl-7 ml-xl-4 mb-4">
        <br>
        <h3 class="mb-3 font-weight-bold dark-grey-text">
          <a style="cursor: pointer;" [routerLink]="['/resources','id',article._id]">
            <strong>{{article.title}}</strong>
          </a>
        </h3>
        <p>
          <em *ngIf="article.tags.length ===0">No tags defined for this article</em>
          <ng-container *ngFor="let tag of article.tags">
            <span class="badge badge-pill light-blue" (click)="setTag(tag)" style="cursor: pointer;">{{getTagByID(allTags, tag)}}</span>
          </ng-container>
        </p>
        <br>
        <a role="button" (click)="remove(article._id)" class="pull-right pull-bottom">
          <i class="fa fa-trash fa-2x"></i>
        </a>
      </div>
      <!--Actual content-->
    </div>
    <hr class="mb-5">
  </ng-container>
</div>