<div class="divider" style="padding-top:50px;"></div>
<div class="container">
  <div class="myContainer">
    <div class="card card-signup">
      <div class="card-body">


        <!-- Login form -->
        <form [formGroup]="loginForm" (ngSubmit)="submitForm()" class="form-signin" novalidate>

          <p class="h5 text-center mb-4">Interview Request</p>

          <div class="md-form">
            <i class="material-icons prefix">email</i>
            <input class="form-control" type="text" id="defaultForm-email" [formControl]="contactemail" mdbActive>
            <br>
            <label for="defaultForm-email">Contact Email</label>
          </div>

          <div class="md-form">
            <i class="material-icons prefix">phone</i>
            <input class="form-control" type="text" id="defaultForm-pass" [formControl]="contactnumber" mdbActive>
            <br>
            <label for="defaultForm-pass">Contact Number</label>
          </div>

          <div class="text-center">
            <button type="submit" class="btn btn-default waves-light" mdbRippleRadius>Send Request</button>
            <span>
                <button [routerLink]="['/']"
                [routerLinkActive]="['router-link-active']" class="btn" mdbRippleRadius>cancel</button>
            </span>
          </div>
        </form>
        <!-- Login form -->

      </div>
    </div>
  </div>
</div>
